html
    head
        title The page's title goes here
        link(rel="stylesheet" type="text/css" href="/css/styles.css")
        script(src='/javascripts/jquery.js')
    body
        main
            h1 Pierre feuille ciseaux.

            a(href="/paper")
                img(src="/img/paper.png")
            a(href="/scissors")
                img(src="/img/scissors.png")
            a(href="/rock")
                img(src="/img/rock.png")
