html
    head
        title The page's title goes here
        link(rel="stylesheet" type="text/css" href="/css/styles.css")
        script(src='/javascripts/jquery.js')

body
    main
        img(src="/img/rock.png")